<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MTServerIP" value="192.168.21.240"/>
    <add key="MTServerPort" value="8812"/>
    <add key="UserName" value="howell"/>
    <add key="Password" value="123456"/>
    <add key="Authentication" value="http://192.168.21.240:8800/howell/ver10/user_authentication/"/>
    <add key="DataManagement" value="http://192.168.21.240:8800/howell/ver10/data_service/management/"/>
    <add key="HW5198ServerPort" value="5198"/>
    <add key="MaxConnectionNumber" value="4096"/>
    <add key="DeviceServiceAddress" value="http://192.168.1.12:8800/howell/ver10/panoramic"/>
  </appSettings>
</configuration>